body {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
	background-color: #000000;
}
canvas {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-image: url("img/board-mat.jpg");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
}
img {
	position: fixed;
	right: 1%;
	height: 6%;
	opacity: 0.5;
	transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
}
img:hover {
   opacity: 1;
}
#sound {
	bottom: 1%;
}
#restart {
	bottom: 8%;
}
#auto {
	bottom: 15%;
}
@font-face {
    font-family: "Open Sans Light";
    src: url("fonts/OpenSans-Light.ttf");
}